@*@using Microsoft.EntityFrameworkCore.Internal;
@model DataAccessLayer.AramaDataModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<h1>Index</h1>


  
 @*   @Html.DropDownListFor(m=>m.Tabloisimleri., (List<SelectListItem>) ViewBag.dgr,new{@class="form-control"})
     @Html.DropDownListFor(m=>m.Count, (List<SelectListItem>) ViewBag.hdr,new{@class="form-control"})

    $.post("/Home/SaveEmployeeRecord", {name:''}, function (data) {  
         alert(data);  
     });  
*@

   


