
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ayarlar</h1>

<a href="/Ayarlar/YasGrubuEkle" class=" btn btn-danger">Yaş Grubu</a>
<a href="/Ayarlar/SınavEkle" class=" btn btn-danger">Sınav Ekle</a>

<a href="/Ayarlar/GiderTuru" class=" btn btn-danger">Gider Türü</a>
<a href="/Ayarlar/OdemeTuru" class=" btn btn-danger">Ödeme Türü</a>
<a href="/Ayarlar/SubeEkle" class=" btn btn-danger">Şube Ekle</a>