@using EntityLayer.Tables;
@model List<Personel>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Personel Listesi</h1>

<table class="table table-bordered table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Personel Id</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Şube Id</th>

    </tr>
    </thead>

    @foreach (var x in Model)
    {

        <tr>
            <td>@x.PersonelId</td>
            <td>@x.PersonelAdi</td>
            <td>@x.PersonelSoyadi</td>
            <td>@x.Sube_Id</td>
        </tr>
    }

</table>

<style>

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #FFF0F5;
    }

    .table-striped > tbody > tr:nth-child(even) > td,
    .table-striped > tbody > tr:nth-child(even) > th {
        background-color: #F0FFF0;
    }

    .table-striped > tbody > tr > td,
    .table-striped > tbody > tr > th,
    .table-bordered > tbody > tr > td,
    .table-bordered > tbody > tr > th {
        border: 1px solid black;
    }

</style>

<a href="/Personel/PersonelEkle" class=" btn btn-danger">Personel ekle</a>
<a href="/Personel/PersonelGetir" class=" btn btn-danger">Personel Getir</a>


